import pandas as pd

data = "D:/GDELT.MASTERREDUCEDV2.1979-2013/GDELT.MASTERREDUCEDV2.TXT"
data_csv = "D:/GDELT.MASTERREDUCEDV2.1979-2013/20161108.export.CSV"

In [51]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 # convert bytes to megabytes
    return "{:03.2f} KB".format(usage_mb)

In [4]:
df = pd.read_csv(data, sep='\t', nrows=100)

In [5]:
df.head()

,Date,Source,Target,CAMEOCode,NumEvents,NumArts,QuadClass,Goldstein,SourceGeoType,SourceGeoLat,SourceGeoLong,TargetGeoType,TargetGeoLat,TargetGeoLong,ActionGeoType,ActionGeoLat,ActionGeoLong
0,19790101,AFR,FRA,43,1,4,1,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19790101,AFR,FRA,50,2,9,1,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19790101,AFR,FRAGOV,43,2,19,1,2.8,1.0,46.0000,2.0000,1.0,46.0000,2.0000,1.0,46.0000,2.0000
3,19790101,AFR,ZMB,100,2,18,3,-5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19790101,ARG,ARGGOVMIL,172,1,4,4,-5.0,4.0,-14.4432,28.4517,4.0,-14.4432,28.4517,4.0,-14.4432,28.4517

In [7]:
df.columns

Index(['Date', 'Source', 'Target', 'CAMEOCode', 'NumEvents', 'NumArts',
       'QuadClass', 'Goldstein', 'SourceGeoType', 'SourceGeoLat',
       'SourceGeoLong', 'TargetGeoType', 'TargetGeoLat', 'TargetGeoLong',
       'ActionGeoType', 'ActionGeoLat', 'ActionGeoLong'],
      dtype='object')

In [14]:
with open(data, 'r') as f:
    read_line = f.readline()
    print(read_line)
    read_line2 = f.readline()
    print(read_line2)
    read_line3 = f.readline()
    print(read_line3)

Date	Source	Target	CAMEOCode	NumEvents	NumArts	QuadClass	Goldstein	SourceGeoType	SourceGeoLat	SourceGeoLong	TargetGeoType	TargetGeoLat	TargetGeoLong	ActionGeoType	ActionGeoLat	ActionGeoLong

19790101	AFR	FRA	043	1	4	1	2.8

19790101	AFR	FRA	050	2	9	1	3.5

In [59]:
columns = ["GLOBALEVENTID","SQLDATE","MonthYear","Year","FractionDate","Actor1Code","Actor1Name","Actor1CountryCode","Actor1KnownGroupCode","Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code","Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","Actor2Code","Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode","Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code","Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode","QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles","AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode","Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID","Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code","Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type","ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code","ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED","SOURCEURL"]

df_small = pd.read_csv(data_csv, sep='\t', names=columns, low_memory=False)

In [28]:
df_small.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,596760615,20151109,201511,2015,2015.8466,NaN,NaN,NaN,NaN,NaN,...,967537,3,"Times Square, New York, United States",US,USNY,40.7570,-73.9860,967537,20161108,http://www.wsaw.com/content/news/Candidates-ma...
1,596760616,20151109,201511,2015,2015.8466,NaN,NaN,NaN,NaN,NaN,...,1662328,3,"Los Angeles, California, United States",US,USCA,34.0522,-118.2440,1662328,20161108,http://www.rollingstone.com/culture/news/jinx-...
2,596760617,20151109,201511,2015,2015.8466,AUT,AUSTRIAN,AUT,NaN,NaN,...,AU,1,Austria,AU,AU,47.3333,13.3333,AU,20161108,https://www.scmagazine.com/swiss-investigators...
3,596760618,20151109,201511,2015,2015.8466,AUT,AUSTRIAN,AUT,NaN,NaN,...,IR,1,Austria,AU,AU,47.3333,13.3333,AU,20161108,https://www.scmagazine.com/swiss-investigators...
4,596760619,20151109,201511,2015,2015.8466,AUTJUD,AUSTRIAN,AUT,NaN,NaN,...,AU,1,Austria,AU,AU,47.3333,13.3333,AU,20161108,https://www.scmagazine.com/swiss-investigators...

In [60]:
df_small.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 58 columns):
GLOBALEVENTID            232926 non-null int64
SQLDATE                  232926 non-null int64
MonthYear                232926 non-null int64
Year                     232926 non-null int64
FractionDate             232926 non-null float64
Actor1Code               211558 non-null object
Actor1Name               211559 non-null object
Actor1CountryCode        130248 non-null object
Actor1KnownGroupCode     2881 non-null object
Actor1EthnicCode         1395 non-null object
Actor1Religion1Code      3503 non-null object
Actor1Religion2Code      816 non-null object
Actor1Type1Code          103998 non-null object
Actor1Type2Code          6957 non-null object
Actor1Type3Code          220 non-null object
Actor2Code               168949 non-null object
Actor2Name               168950 non-null object
Actor2CountryCode        102487 non-null object
Actor2KnownGroupCode     2382 non-null object
Actor2EthnicCode         1184 non-null object
Actor2Religion1Code      3331 non-null object
Actor2Religion2Code      733 non-null object
Actor2Type1Code          83606 non-null object
Actor2Type2Code          4922 non-null object
Actor2Type3Code          107 non-null object
IsRootEvent              232926 non-null int64
EventCode                232926 non-null int64
EventBaseCode            232926 non-null int64
EventRootCode            232926 non-null int64
QuadClass                232926 non-null int64
GoldsteinScale           232917 non-null float64
NumMentions              232926 non-null int64
NumSources               232926 non-null int64
NumArticles              232926 non-null int64
AvgTone                  232926 non-null float64
Actor1Geo_Type           232926 non-null int64
Actor1Geo_FullName       206499 non-null object
Actor1Geo_CountryCode    206630 non-null object
Actor1Geo_ADM1Code       206630 non-null object
Actor1Geo_Lat            206499 non-null float64
Actor1Geo_Long           206532 non-null float64
Actor1Geo_FeatureID      206630 non-null object
Actor2Geo_Type           232926 non-null int64
Actor2Geo_FullName       164932 non-null object
Actor2Geo_CountryCode    165042 non-null object
Actor2Geo_ADM1Code       165042 non-null object
Actor2Geo_Lat            164932 non-null float64
Actor2Geo_Long           164954 non-null float64
Actor2Geo_FeatureID      165042 non-null object
ActionGeo_Type           232926 non-null int64
ActionGeo_FullName       227361 non-null object
ActionGeo_CountryCode    227506 non-null object
ActionGeo_ADM1Code       227506 non-null object
ActionGeo_Lat            227361 non-null float64
ActionGeo_Long           227396 non-null float64
ActionGeo_FeatureID      227506 non-null object
DATEADDED                232926 non-null int64
SOURCEURL                232926 non-null object
dtypes: float64(9), int64(16), object(33)
memory usage: 418.0 MB

In [37]:
df_small['IsRootEvent']

0     1
1     1
2     0
3     0
4     0
5     1
6     0
7     0
8     1
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    1
24    0
25    0
26    0
27    0
28    0
29    0
     ..
70    0
71    1
72    1
73    1
74    1
75    1
76    1
77    0
78    0
79    1
80    0
81    0
82    0
83    0
84    0
85    0
86    0
87    0
88    0
89    0
90    0
91    0
92    0
93    0
94    0
95    0
96    0
97    0
98    0
99    0
Name: IsRootEvent, Length: 100, dtype: int64

In [61]:
df_int = df_small.select_dtypes(include=['int64'])
df_float = df_small.select_dtypes(include=['float64'])

In [43]:
df_int.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,NumMentions,NumSources,NumArticles,Actor1Geo_Type,Actor2Geo_Type,ActionGeo_Type,DATEADDED
0,596760615,20151109,201511,2015,1,43,43,4,1,10,4,10,0,3,3,20161108
1,596760616,20151109,201511,2015,1,80,80,8,2,4,1,4,0,3,3,20161108
2,596760617,20151109,201511,2015,0,46,46,4,1,6,1,6,1,1,1,20161108
3,596760618,20151109,201511,2015,0,46,46,4,1,4,1,4,1,1,1,20161108
4,596760619,20151109,201511,2015,0,46,46,4,1,6,1,6,1,1,1,20161108

In [62]:
converted_int = df_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(df_int))
print(mem_usage(converted_int))

converted_int.info(memory_usage='deep')

29115.83 KB
7506.48 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 16 columns):
GLOBALEVENTID     232926 non-null uint32
SQLDATE           232926 non-null uint32
MonthYear         232926 non-null uint32
Year              232926 non-null uint16
IsRootEvent       232926 non-null uint8
EventCode         232926 non-null uint16
EventBaseCode     232926 non-null uint8
EventRootCode     232926 non-null uint8
QuadClass         232926 non-null uint8
NumMentions       232926 non-null uint16
NumSources        232926 non-null uint16
NumArticles       232926 non-null uint16
Actor1Geo_Type    232926 non-null uint8
Actor2Geo_Type    232926 non-null uint8
ActionGeo_Type    232926 non-null uint8
DATEADDED         232926 non-null uint32
dtypes: uint16(5), uint32(4), uint8(7)
memory usage: 7.3 MB

In [65]:
converted_float = df_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(df_float))
print(mem_usage(converted_float))

converted_int.info(memory_usage='deep')

16377.69 KB
8188.88 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 9 columns):
FractionDate      232926 non-null float32
GoldsteinScale    232917 non-null float32
AvgTone           232926 non-null float32
Actor1Geo_Lat     206499 non-null float32
Actor1Geo_Long    206532 non-null float32
Actor2Geo_Lat     164932 non-null float32
Actor2Geo_Long    164954 non-null float32
ActionGeo_Lat     227361 non-null float32
ActionGeo_Long    227396 non-null float32
dtypes: float32(9)
memory usage: 8.0 MB

In [67]:
df_obj = df_small.select_dtypes(include='object')
df_obj.head()

,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor1Type2Code,Actor1Type3Code,...,Actor1Geo_FeatureID,Actor2Geo_FullName,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_FeatureID,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_FeatureID,SOURCEURL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Times Square, New York, United States",US,USNY,967537,"Times Square, New York, United States",US,USNY,967537,http://www.wsaw.com/content/news/Candidates-ma...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Los Angeles, California, United States",US,USCA,1662328,"Los Angeles, California, United States",US,USCA,1662328,http://www.rollingstone.com/culture/news/jinx-...
2,AUT,AUSTRIAN,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AU,Austria,AU,AU,AU,Austria,AU,AU,AU,https://www.scmagazine.com/swiss-investigators...
3,AUT,AUSTRIAN,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AU,Iran,IR,IR,IR,Austria,AU,AU,AU,https://www.scmagazine.com/swiss-investigators...
4,AUTJUD,AUSTRIAN,AUT,NaN,NaN,NaN,NaN,JUD,NaN,NaN,...,AU,Austria,AU,AU,AU,Austria,AU,AU,AU,https://www.scmagazine.com/swiss-investigators...

In [74]:
len(df_obj['Actor1Geo_FullName'].unique())

11401

In [75]:
df_obj.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 33 columns):
Actor1Code               211558 non-null object
Actor1Name               211559 non-null object
Actor1CountryCode        130248 non-null object
Actor1KnownGroupCode     2881 non-null object
Actor1EthnicCode         1395 non-null object
Actor1Religion1Code      3503 non-null object
Actor1Religion2Code      816 non-null object
Actor1Type1Code          103998 non-null object
Actor1Type2Code          6957 non-null object
Actor1Type3Code          220 non-null object
Actor2Code               168949 non-null object
Actor2Name               168950 non-null object
Actor2CountryCode        102487 non-null object
Actor2KnownGroupCode     2382 non-null object
Actor2EthnicCode         1184 non-null object
Actor2Religion1Code      3331 non-null object
Actor2Religion2Code      733 non-null object
Actor2Type1Code          83606 non-null object
Actor2Type2Code          4922 non-null object
Actor2Type3Code          107 non-null object
Actor1Geo_FullName       206499 non-null object
Actor1Geo_CountryCode    206630 non-null object
Actor1Geo_ADM1Code       206630 non-null object
Actor1Geo_FeatureID      206630 non-null object
Actor2Geo_FullName       164932 non-null object
Actor2Geo_CountryCode    165042 non-null object
Actor2Geo_ADM1Code       165042 non-null object
Actor2Geo_FeatureID      165042 non-null object
ActionGeo_FullName       227361 non-null object
ActionGeo_CountryCode    227506 non-null object
ActionGeo_ADM1Code       227506 non-null object
ActionGeo_FeatureID      227506 non-null object
SOURCEURL                232926 non-null object
dtypes: object(33)
memory usage: 373.6 MB

In [71]:
converted_obj = pd.DataFrame()

for col in df_obj.columns:
    num_unique_values = len(df_obj[col].unique())
    num_total_values = len(df_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = df_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = df_obj[col]
        
print(mem_usage(df_obj))
print(mem_usage(converted_obj))

converted_obj.info(memory_usage='deep')

382527.26 KB
32130.95 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 33 columns):
Actor1Code               211558 non-null category
Actor1Name               211559 non-null category
Actor1CountryCode        130248 non-null category
Actor1KnownGroupCode     2881 non-null category
Actor1EthnicCode         1395 non-null category
Actor1Religion1Code      3503 non-null category
Actor1Religion2Code      816 non-null category
Actor1Type1Code          103998 non-null category
Actor1Type2Code          6957 non-null category
Actor1Type3Code          220 non-null category
Actor2Code               168949 non-null category
Actor2Name               168950 non-null category
Actor2CountryCode        102487 non-null category
Actor2KnownGroupCode     2382 non-null category
Actor2EthnicCode         1184 non-null category
Actor2Religion1Code      3331 non-null category
Actor2Religion2Code      733 non-null category
Actor2Type1Code          83606 non-null category
Actor2Type2Code          4922 non-null category
Actor2Type3Code          107 non-null category
Actor1Geo_FullName       206499 non-null category
Actor1Geo_CountryCode    206630 non-null category
Actor1Geo_ADM1Code       206630 non-null category
Actor1Geo_FeatureID      206630 non-null category
Actor2Geo_FullName       164932 non-null category
Actor2Geo_CountryCode    165042 non-null category
Actor2Geo_ADM1Code       165042 non-null category
Actor2Geo_FeatureID      165042 non-null category
ActionGeo_FullName       227361 non-null category
ActionGeo_CountryCode    227506 non-null category
ActionGeo_ADM1Code       227506 non-null category
ActionGeo_FeatureID      227506 non-null category
SOURCEURL                232926 non-null category
dtypes: category(33)
memory usage: 31.4 MB

In [83]:
dtype_dict = {'GLOBALEVENTID': 'uint32',
 #'SQLDATE': 'datetime64',
 #'MonthYear',
 #'Year',
 #'FractionDate',
 'Actor1Code': 'category',
 'Actor1Name': 'str',
 'Actor1CountryCode': 'category',
 'Actor1KnownGroupCode': 'category',
 'Actor1EthnicCode': 'category',
 'Actor1Religion1Code': 'category',
 'Actor1Religion2Code': 'category',
 'Actor1Type1Code': 'category',
 'Actor1Type2Code': 'category',
 'Actor1Type3Code': 'category',
 'Actor2Code': 'category',
 'Actor2Name': 'str',
 'Actor2CountryCode': 'category',
 'Actor2KnownGroupCode': 'category',
 'Actor2EthnicCode': 'category',
 'Actor2Religion1Code': 'category',
 'Actor2Religion2Code': 'category',
 'Actor2Type1Code': 'category',
 'Actor2Type2Code': 'category',
 'Actor2Type3Code': 'category',
 'IsRootEvent': 'bool_',
 'EventCode': 'str',
 'EventBaseCode': 'str',
 'EventRootCode': 'str',
 'QuadClass': 'uint8',
 'GoldsteinScale': 'float32',
 'NumMentions': 'uint16',
 'NumSources': 'uint16',
 'NumArticles': 'uint16',
 'AvgTone': 'float32',
 'Actor1Geo_Type': 'uint8',
 'Actor1Geo_FullName': 'str',
 'Actor1Geo_CountryCode': 'category',
 'Actor1Geo_ADM1Code': 'category',
 'Actor1Geo_Lat': 'float32',
 'Actor1Geo_Long': 'float32',
 'Actor1Geo_FeatureID': 'category', # not sure
 'Actor2Geo_Type': 'uint8',
 'Actor2Geo_FullName': 'str',
 'Actor2Geo_CountryCode': 'category',
 'Actor2Geo_ADM1Code': 'category',
 'Actor2Geo_Lat': 'float32',
 'Actor2Geo_Long': 'float32',
 'Actor2Geo_FeatureID': 'category',
 'ActionGeo_Type': 'uint8',
 'ActionGeo_FullName': 'str',
 'ActionGeo_CountryCode': 'category',
 'ActionGeo_ADM1Code': 'category',
 'ActionGeo_Lat': 'float32',
 'ActionGeo_Long': 'float32',
 'ActionGeo_FeatureID': 'category',
 #'DATEADDED',
 #'SOURCEURL'
}

In [84]:
dtype_dict.keys()

dict_keys(['GLOBALEVENTID', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code', 'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code', 'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode', 'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code', 'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent', 'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass', 'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code', 'Actor1Geo_Lat', 'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code', 'Actor2Geo_Lat', 'Actor2Geo_Long', 'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName', 'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 'ActionGeo_Lat', 'ActionGeo_Long', 'ActionGeo_FeatureID'])

In [85]:
usecols = ['GLOBALEVENTID', 'SQLDATE', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code', 'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code', 'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode', 'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code', 'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent', 'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass', 'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code', 'Actor1Geo_Lat', 'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code', 'Actor2Geo_Lat', 'Actor2Geo_Long', 'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName', 'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 'ActionGeo_Lat', 'ActionGeo_Long', 'ActionGeo_FeatureID']

df_small = pd.read_csv(data_csv, sep='\t', names=columns, \
                      usecols=usecols, dtype=dtype_dict, parse_dates=['SQLDATE'])

In [86]:
df_small.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232926 entries, 0 to 232925
Data columns (total 53 columns):
GLOBALEVENTID            232926 non-null uint32
SQLDATE                  232926 non-null datetime64[ns]
Actor1Code               211558 non-null category
Actor1Name               211559 non-null object
Actor1CountryCode        130248 non-null category
Actor1KnownGroupCode     2881 non-null category
Actor1EthnicCode         1395 non-null category
Actor1Religion1Code      3503 non-null category
Actor1Religion2Code      816 non-null category
Actor1Type1Code          103998 non-null category
Actor1Type2Code          6957 non-null category
Actor1Type3Code          220 non-null category
Actor2Code               168949 non-null category
Actor2Name               168950 non-null object
Actor2CountryCode        102487 non-null category
Actor2KnownGroupCode     2382 non-null category
Actor2EthnicCode         1184 non-null category
Actor2Religion1Code      3331 non-null category
Actor2Religion2Code      733 non-null category
Actor2Type1Code          83606 non-null category
Actor2Type2Code          4922 non-null category
Actor2Type3Code          107 non-null category
IsRootEvent              232926 non-null bool
EventCode                232926 non-null object
EventBaseCode            232926 non-null object
EventRootCode            232926 non-null object
QuadClass                232926 non-null uint8
GoldsteinScale           232917 non-null float32
NumMentions              232926 non-null uint16
NumSources               232926 non-null uint16
NumArticles              232926 non-null uint16
AvgTone                  232926 non-null float32
Actor1Geo_Type           232926 non-null uint8
Actor1Geo_FullName       206499 non-null object
Actor1Geo_CountryCode    206630 non-null category
Actor1Geo_ADM1Code       206630 non-null category
Actor1Geo_Lat            206499 non-null float32
Actor1Geo_Long           206532 non-null float32
Actor1Geo_FeatureID      206630 non-null category
Actor2Geo_Type           232926 non-null uint8
Actor2Geo_FullName       164932 non-null object
Actor2Geo_CountryCode    165042 non-null category
Actor2Geo_ADM1Code       165042 non-null category
Actor2Geo_Lat            164932 non-null float32
Actor2Geo_Long           164954 non-null float32
Actor2Geo_FeatureID      165042 non-null category
ActionGeo_Type           232926 non-null uint8
ActionGeo_FullName       227361 non-null object
ActionGeo_CountryCode    227506 non-null category
ActionGeo_ADM1Code       227506 non-null category
ActionGeo_Lat            227361 non-null float32
ActionGeo_Long           227396 non-null float32
ActionGeo_FeatureID      227506 non-null category
dtypes: bool(1), category(27), datetime64[ns](1), float32(8), object(8), uint16(3), uint32(1), uint8(4)
memory usage: 141.8 MB

In [89]:
df_us = df_small[df_small['ActionGeo_CountryCode'] == 'US']

In [91]:
df_us.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84143 entries, 0 to 232925
Data columns (total 53 columns):
GLOBALEVENTID            84143 non-null uint32
SQLDATE                  84143 non-null datetime64[ns]
Actor1Code               75411 non-null category
Actor1Name               75411 non-null object
Actor1CountryCode        44862 non-null category
Actor1KnownGroupCode     248 non-null category
Actor1EthnicCode         418 non-null category
Actor1Religion1Code      1161 non-null category
Actor1Religion2Code      345 non-null category
Actor1Type1Code          38659 non-null category
Actor1Type2Code          1578 non-null category
Actor1Type3Code          37 non-null category
Actor2Code               57327 non-null category
Actor2Name               57327 non-null object
Actor2CountryCode        32666 non-null category
Actor2KnownGroupCode     177 non-null category
Actor2EthnicCode         336 non-null category
Actor2Religion1Code      1003 non-null category
Actor2Religion2Code      316 non-null category
Actor2Type1Code          30558 non-null category
Actor2Type2Code          1204 non-null category
Actor2Type3Code          18 non-null category
IsRootEvent              84143 non-null bool
EventCode                84143 non-null object
EventBaseCode            84143 non-null object
EventRootCode            84143 non-null object
QuadClass                84143 non-null uint8
GoldsteinScale           84138 non-null float32
NumMentions              84143 non-null uint16
NumSources               84143 non-null uint16
NumArticles              84143 non-null uint16
AvgTone                  84143 non-null float32
Actor1Geo_Type           84143 non-null uint8
Actor1Geo_FullName       75408 non-null object
Actor1Geo_CountryCode    75411 non-null category
Actor1Geo_ADM1Code       75411 non-null category
Actor1Geo_Lat            75408 non-null float32
Actor1Geo_Long           75408 non-null float32
Actor1Geo_FeatureID      75411 non-null category
Actor2Geo_Type           84143 non-null uint8
Actor2Geo_FullName       57324 non-null object
Actor2Geo_CountryCode    57327 non-null category
Actor2Geo_ADM1Code       57327 non-null category
Actor2Geo_Lat            57324 non-null float32
Actor2Geo_Long           57324 non-null float32
Actor2Geo_FeatureID      57327 non-null category
ActionGeo_Type           84143 non-null uint8
ActionGeo_FullName       84143 non-null object
ActionGeo_CountryCode    84143 non-null category
ActionGeo_ADM1Code       84143 non-null category
ActionGeo_Lat            84143 non-null float32
ActionGeo_Long           84143 non-null float32
ActionGeo_FeatureID      84143 non-null category
dtypes: bool(1), category(27), datetime64[ns](1), float32(8), object(8), uint16(3), uint32(1), uint8(4)
memory usage: 55.4 MB

In [93]:
df_small['SQLDATE'].unique()

array(['2015-11-09T00:00:00.000000000', '2016-10-09T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-11-07T00:00:00.000000000',
       '2016-11-08T00:00:00.000000000', '2006-11-11T00:00:00.000000000'],
      dtype='datetime64[ns]')

### EventID and Date Attributes

    GlobalEventID (integer) 
    
    Day (integer) YYYYMMDD
    
    MonthYear (integer) YYYYMM
    
    Year (integer) YYYY
    
    FractionDate (numeric) YYYY.FFFF (FFFF is the percentage of the year completed by the day, (MONTH * 30 + DAY) / 365)

### Actor Attributes
    
Attributes and characteristics of the two actors involved in the event. Raw CAMEO code for each actor, its proper name, and associated attributes. Array of coded attributes indicating grographic, ethnic, and religious affiliation and the actor's role in the environment (political elite, military officer, rebel, etc).

    Actor1Code (character of factor) complete raw CAMEO code for Actor1 (includes geographic, class, ethnic, religious, and type classes). May be blank if system was unable to identify an Actor1.
    
    Actor1Name (character) The actual name of the Actor 1. 
    
    Actor1CountryCode (character or factor) 3-character CAMEO code for the country of affiliation of Actor1.
    
    Actor1KnownGroupCode (character or factor) If Actor1 is a known organization with its own code.
    
    Actor1EthnicCode (character or factor) If source document specifies the ethnic affiliation of Actor1 and that ethnic group has a CAMEO entry, the CAMEO code is entered here.
    
    Actor1Religion1Code (character or factor) Religous affiliation, and CAMEO entry, the CAMEO code is entered here.
    
    Actor1Religion2Code (character or factor) If multiple religious codes are specified for Actor1 this contains the secondary code. (Catholic is Christianity as Code1 and Catholicism as Code2)
    
    Actor1Type1Code (character or factor) 3-character CAMEO code of the CAMEO "type" or "role" of Actor1, if specified. Police Forces, Government, or broad role like Education, Elites, or organizational class like Non-Governmental Movement. Moderate or radical may refer to the operational strategy of a group.
    
    Actor1Type2Code (character or factor) extra type code
    
    Actor1Type3Code (character or factor) extra type code
    
All fields repeated for Actor2.

### Event Action Attributes

What Actor1 did to Actor2 and mechanisms for assessing the "importance" or immediate-term "impact" of an event. 

    IsRootEvent (logical or binary or byte) Flag can be used as a proxy for the rough importance of an event to create subsets of the event stream.
    
    EventCode (character or factor) raw CAMEO action code describing the action that Actor1 performed upon Actor2
    
    EventBaseCode (character or factor) CAMEO event codes are defined in a three-level taxonomy. 0251 "Appeal for easing of administrative sanctions" has an EventBaseCode of "025"
    
    EventRootCode (character or factor) Root-level category the event code falls under. "0251" has a root code of "02".
    
    QuadClass (integer) CAMEO event taxonomy is ultimately organized under four primary classifications: Verbal Cooperation, Material Cooperation, Verbal Conflict, and Material Conflict. This is the primary classification for the event type. 1, 2, 3, 4, are each value as listed before.
    
    GoldsteinScale (numeric) Each CAMEO event code has a numeric score from -10 to +10, capturing theoretical potential impact this event has on the stability of a country. Based on type of event and not on the specifics of the actual event record being recorded. 
    
    NumMentions (integer) Number of mentions of this event across all source documents. The more discussion of an event, the more likely it is to be significant. Should be normalized by the average or other measure of the universe of events during the time period of interest. 
    
    NumSources (integer) Number of information sources containing one or more mentions of this event. 
    
    NumArticles (integer) Number of source documents containing one or more mentions of this event.
    
    AvgTone (numeric) Average "tone" of all documents containing one or more mentions of this event. -100 (extremely negative) to +100 (extremely positive). Common values between -10 and +10, 0 indicating neutral. Can be used as a method of filtering the "context" of events as a subtle measure of the importance of an event and as a proxy for the "impact" of the event.

### Event Geography

Two possible filtering methods for events in or relating to a specific country. Actor_CountryCode but we may not have codes for the actors. The other option is Geo_CountryCode and ActorGeo_CountryCode.

    Actor1Geo_Type (integer) Geographic resolution of the match type: 1 = Country, 2 = USSTATE, 3 = USCITY, 4 = WORLDCITY, 5 = WORLDSTATE. 1, 2, and 5 will provide latitude/longitude pair as centroid of country or state, but FeatureID will be blank.
    
    Actor1Geo_Fullname (character) human-readable name of the location. The name used in the text itself so it may contain multiple spellings of the same location. FeatureID to determine if two names refer to the same place.
    
    Actor1Geo_CountryCode (character) 2-character FIPS10-4 country code.
    
    Actor1Geo_ADM1Code (character) 2-character FIPS10-4 country code followed by 2-character FIPS10-4 administrative division 1 (ADM1) code for the administrative division housing the landmark. In US, this is the 2-charcter shortform of the state's name.
    
    Actor1Geo_Lat (numeric) centroid latitude
    
    Actor1Geo_Long (numeric) centroid longitude
    
    Actor1Geo_FeatureID (signed integer) GNS or GNIS FeatureID for this location. http://www.dlib.org/dlib/september12/leetaru/09leetaru.htm 
    
These codes are repeated for Actor2 and Action prefixes.

### Data Management Fields

    DATEADDED (integer) date the event was added to the database
    
    SOURCEURL (character) Beginning from April 1, 2013. Lists URL of the news article the event was found in.

In [3]:
cameo_to_text = {"01": "MAKE PUBLIC STATEMENT",
"010": "Make statement, not specified below",
"011": "Decline comment",
"012": "Make pessimistic comment",
"013": "Make optimistic comment",
"014": "Consider policy option",
"015": "Acknowledge or claim responsibility",
"016": "Deny responsibility",
"017": "Engage in symbolic act",
"018": "Make empathetic comment",
"019": "Express accord",
"02": "APPEAL",
"020": "Make an appeal or request, not specified below",
"021": "Appeal for material cooperation, not specified below",
"0211": "Appeal for economic cooperation",
"0212": "Appeal for military cooperation",
"0213": "Appeal for judicial cooperation",
"0214": "Appeal for intelligence",
"022": "Appeal for diplomatic cooperation (such as policy support)",
"023": "Appeal for aid, not specified below",
"0231": "Appeal for economic aid",
"0232": "Appeal for military aid",
"0233": "Appeal for humanitarian aid",
"0234": "Appeal for military protection or peacekeeping",
"024": "Appeal for political reform, not specified below",
"0241": "Appeal for change in leadership",
"0242": "Appeal for policy change",
"0243": "Appeal for rights",
"0244": "Appeal for change in institutions, regime",
"025": "Appeal to yield, not specified below",
"0251": "Appeal for easing of administrative sanctions",
"0252": "Appeal for easing of political dissent",
"0253": "Appeal for release of persons or property",
"0254": "Appeal for easing of economic sanctions, boycott, or embargo",
"0255": "Appeal for target to allow international involvement (non-mediation)",
"0256": "Appeal for de-escalation of military engagement",
"026": "Appeal to others to meet or negotiate",
"027": "Appeal to others to settle dispute",
"028": "Appeal to engage in or accept mediation",
"03": "EXPRESS INTENT TO COOPERATE",
"030": "Express intent to cooperate, not specified below",
"031": "Express intent to engage in material cooperation, not specified below",
"0311": "Express intent to cooperate economically",
"0312": "Express intent to cooperate militarily",
"0313": "Express intent to cooperate on judicial matters",
"0314": "Express intent to cooperate on intelligence",
"032": "Express intent to engage in diplomatic cooperation (such as policy support)",
"033": "Express intent to provide material aid, not specified below",
"0331": "Express intent to provide economic aid",
"0332": "Express intent to provide military aid",
"0333": "Express intent to provide humanitarian aid",
"0334": "Express intent to provide military protection or peacekeeping",
"034": "Express intent to institute political reform, not specified below",
"0341": "Express intent to change leadership",
"0342": "Express intent to change policy",
"0343": "Express intent to provide rights",
"0344": "Express intent to change institutions, regime",
"035": "Express intent to yield, not specified below",
"0351": "Express intent to ease administrative sanctions",
"0352": "Express intent to ease popular dissent",
"0353": "Express intent to release persons or property",
"0354": "Express intent to ease economic sanctions, boycott, or embargo",
"0355": "Express intent to allow international involvement (non-mediation)",
"0356": "Express intent to de-escalate military engagement",
"036": "Express intent to meet or negotiate",
"037": "Express intent to settle dispute",
"038": "Express intent to accept mediation",
"039": "Express intent to mediate",
"04": "CONSULT",
"040": "Consult, not specified below",
"041": "Discuss by telephone",
"042": "Make a visit",
"043": "Host a visit",
"044": "Meet at a 'third' location",
"045": "Mediate",
"046": "Engage in negotiation",
"05": "ENGAGE IN DIPLOMATIC COOPERATION",
"050": "Engage in diplomatic cooperation, not specified below",
"051": "Praise or endorse",
"052": "Defend verbally",
"053": "Rally support on behalf of",
"054": "Grant diplomatic recognition",
"055": "Apologize",
"056": "Forgive",
"057": "Sign formal agreement",
"06": "ENGAGE IN MATERIAL COOPERATION",
"060": "Engage in material cooperation, not specified below",
"061": "Cooperate economically",
"062": "Cooperate militarily",
"063": "Engage in judicial cooperation",
"064": "Share intelligence or information",
"07": "PROVIDE AID",
"070": "Provide aid, not specified below",
"071": "Provide economic aid",
"072": "Provide military aid",
"073": "Provide humanitarian aid",
"074": "Provide military protection or peacekeeping",
"075": "Grant asylum",
"08": "YIELD",
"080": "Yield, not specified below",
"081": "Ease administrative sanctions, not specified below",
"0811": "Ease restrictions on political freedoms",
"0812": "Ease ban on political parties or politicians",
"0813": "Ease curfew",
"0814": "Ease state of emergency or martial law",
"082": "Ease political dissent",
"083": "Accede to requests or demands for political reform, not specified below",
"0831": "Accede to demands for change in leadership",
"0832": "Accede to demands for change in policy",
"0833": "Accede to demands for rights",
"0834": "Accede to demands for change in institutions, regime",
"084": "Return, release, not specified below",
"0841": "Return, release person(s)",
"0842": "Return, release property",
"085": "Ease economic sanctions, boycott, embargo",
"086": "Allow international involvement, not specified below",
"0861": "Receive deployment of peacekeepers",
"0862": "Receive inspectors",
"0863": "Allow humanitarian access",
"087": "De-escalate military engagement",
"0871": "Declare truce, ceasefire",
"0872": "Ease military blockade",
"0873": "Demobilize armed forces",
"0874": "Retreat or surrender militarily",
"09": "INVESTIGATE",
"090": "Investigate, not specified below",
"091": "Investigate crime, corruption",
"092": "Investigate human rights abuses",
"093": "Investigate military action",
"094": "Investigate war crimes",
"10": "DEMAND",
"100": "Demand, not specified below",
"101": "Demand material cooperation, not specified below",
"1011": "Demand economic cooperation",
"1012": "Demand military cooperation",
"1013": "Demand judicial cooperation",
"1014": "Demand intelligence cooperation",
"102": "Demand diplomatic cooperation (such as policy support)",
"103": "Demand material aid, not specified below",
"1031": "Demand economic aid",
"1032": "Demand military aid",
"1033": "Demand humanitarian aid",
"1034": "Demand military protection or peacekeeping",
"104": "Demand political reform, not specified below",
"1041": "Demand change in leadership",
"1042": "Demand policy change",
"1043": "Demand rights",
"1044": "Demand change in institutions, regime",
"105": "Demand that target yields, not specified below",
"1051": "Demand easing of administrative sanctions",
"1052": "Demand easing of political dissent",
"1053": "Demand release of persons or property",
"1054": "Demand easing of economic sanctions, boycott, or embargo",
"1055": "Demand that target allows international involvement (non-mediation)",
"1056": "Demand de-escalation of military engagement",
"106": "Demand meeting, negotiation",
"107": "Demand settling of dispute",
"108": "Demand mediation",
"11": "DISAPPROVE",
"110": "Disapprove, not specified below",
"111": "Criticize or denounce",
"112": "Accuse, not specified below",
"1121": "Accuse of crime, corruption",
"1122": "Accuse of human rights abuses",
"1123": "Accuse of aggression",
"1124": "Accuse of war crimes",
"1125": "Accuse of espionage, treason",
"113": "Rally opposition against",
"114": "Complain ocially",
"115": "Bring lawsuit against",
"116": "Find guilty or liable (legally)",
"12": "REJECT",
"120": "Reject, not specified below",
"121": "Reject material cooperation",
"1211": "Reject economic cooperation",
"1212": "Reject military cooperation",
"122": "Reject request or demand for material aid, not specified below",
"1221": "Reject request for economic aid",
"1222": "Reject request for military aid",
"1223": "Reject request for humanitarian aid",
"1224": "Reject request for military protection or peacekeeping",
"123": "Reject request or demand for political reform, not specified below",
"1231": "Reject request for change in leadership",
"1232": "Reject request for policy change",
"1233": "Reject request for rights",
"1234": "Reject request for change in institutions, regime",
"124": "Refuse to yield, not specified below",
"1241": "Refuse to ease administrative sanctions",
"1242": "Refuse to ease popular dissent",
"1243": "Refuse to release persons or property",
"1244": "Refuse to ease economic sanctions, boycott, or embargo",
"1245": "Refuse to allow international involvement (non mediation)",
"1246": "Refuse to de-escalate military engagement",
"125": "Reject proposal to meet, discuss, or negotiate",
"126": "Reject mediation",
"127": "Reject plan, agreement to settle dispute",
"128": "Defy norms, law",
"129": "Veto",
"13": "THREATEN",
"130": "Threaten, not specified below",
"131": "Threaten non-force, not specified below",
"1311": "Threaten to reduce or stop aid",
"1312": "Threaten with sanctions, boycott, embargo",
"1313": "Threaten to reduce or break relations",
"132": "Threaten with administrative sanctions, not specified below",
"1321": "Threaten with restrictions on political freedoms",
"1322": "Threaten to ban political parties or politicians",
"1323": "Threaten to impose curfew",
"1324": "Threaten to impose state of emergency or martial law",
"133": "Threaten with political dissent, protest",
"134": "Threaten to halt negotiations",
"135": "Threaten to halt mediation",
"136": "Threaten to halt international involvement (non-mediation)",
"137": "Threaten with repression",
"138": "Threaten with military force, not specified below",
"1381": "Threaten blockade",
"1382": "Threaten occupation",
"1383": "Threaten unconventional violence",
"1384": "Threaten conventional attack",
"1385": "Threaten attack with WMD",
"139": "Give ultimatum",
"14": "PROTEST",
"140": "Engage in political dissent, not specified below",
"141": "Demonstrate or rally, not specified below",
"1411": "Demonstrate for leadership change",
"1412": "Demonstrate for policy change",
"1413": "Demonstrate for rights",
"1414": "Demonstrate for change in institutions, regime",
"142": "Conduct hunger strike, not specified below",
"1421": "Conduct hunger strike for leadership change",
"1422": "Conduct hunger strike for policy change",
"1423": "Conduct hunger strike for rights",
"1424": "Conduct hunger strike for change in institutions, regime",
"143": "Conduct strike or boycott, not specified below",
"1431": "Conduct strike or boycott for leadership change",
"1432": "Conduct strike or boycott for policy change",
"1433": "Conduct strike or boycott for rights",
"1434": "Conduct strike or boycott for change in institutions, regime",
"144": "Obstruct passage, block, not specified below",
"1441": "Obstruct passage to demand leadership change",
"1442": "Obstruct passage to demand policy change",
"1443": "Obstruct passage to demand rights",
"1444": "Obstruct passage to demand change in institutions, regime",
"145": "Protest violently, riot, not specified below",
"1451": "Engage in violent protest for leadership change",
"1452": "Engage in violent protest for policy change",
"1453": "Engage in violent protest for rights",
"1454": "Engage in violent protest for change in institutions, regime",
"15": "EXHIBIT FORCE POSTURE",
"150": "Demonstrate military or police power, not specified below",
"151": "Increase police alert status",
"152": "Increase military alert status",
"153": "Mobilize or increase police power",
"154": "Mobilize or increase armed forces",
"155": "Mobilize or increase cyber-forces",
"16": "REDUCE RELATIONS",
"160": "Reduce relations, not specified below",
"161": "Reduce or break diplomatic relations",
"162": "Reduce or stop material aid, not specified below",
"1621": "Reduce or stop economic assistance",
"1622": "Reduce or stop military assistance",
"1623": "Reduce or stop humanitarian assistance",
"163": "Impose embargo, boycott, or sanctions",
"164": "Halt negotiations",
"165": "Halt mediation",
"166": "Expel or withdraw, not specified below",
"1661": "Expel or withdraw peacekeepers",
"1662": "Expel or withdraw inspectors, observers",
"1663": "Expel or withdraw aid agencies",
"17": "COERCE",
"170": "Coerce, not specified below",
"171": "Seize or damage property, not specified below",
"1711": "Confiscate property",
"1712": "Destroy property",
"172": "Impose administrative sanctions, not specified below",
"1721": "Impose restrictions on political freedoms",
"1722": "Ban political parties or politicians",
"1723": "Impose curfew",
"1724": "Impose state of emergency or martial law",
"173": "Arrest, detain, or charge with legal action",
"174": "Expel or deport individuals",
"175": "Use tactics of violent repression",
"176": "Attack cybernetically",
"18": "ASSAULT",
"180": "Use unconventional violence, not specified below",
"181": "Abduct, hijack, or take hostage",
"182": "Physically assault, not specified below",
"1821": "Sexually assault",
"1822": "Torture",
"1823": "Kill by physical assault",
"183": "Conduct suicide, car, or other non-military bombing, not specified below",
"1831": "Carry out suicide bombing",
"1832": "Carry out vehicular bombing",
"1833": "Carry out roadside bombing",
"1834": "Carry out location bombing",
"184": "Use as human shield",
"185": "Attempt to assassinate",
"186": "Assassinate",
"19": "FIGHT",
"190": "Use conventional military force, not specified below",
"191": "Impose blockade, restrict movement",
"192": "Occupy territory",
"193": "Fight with small arms and light weapons",
"194": "Fight with artillery and tanks",
"195": "Employ aerial weapons, not specified below",
"1951": "Employ precision-guided aerial munitions",
"1952": "Employ remotely piloted aerial munitions",
"196": "Violate ceasefire",
"20": "USE UNCONVENTIONAL MASS VIOLENCE",
"200": "Use unconventional mass violence, not specified below",
"201": "Engage in mass expulsion",
"202": "Engage in mass killings",
"203": "Engage in ethnic cleansing",
"204": "Use weapons of mass destruction, not specified below",
"2041": "Use chemical, biological, or radiological weapons",
"2042": "Detonate nuclear weapons"}