Using a dataset of your choice, select an outcome variable and then pick four or five other variables (one to two categorical, three to four continuous) to act as the basis for features. Explore the variables using the univariate and bivariate methods you've learned so far. 

Next, based on what you learned via your data exploration, create ten new features. Explain the reasoning behind each one.

Finally, use filtering methods to select the five best features and justify your choices.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn import preprocessing
import csv, sqlite3
%matplotlib inline

from GDELT_utils import GDELT_columns, usecols, dtype_dict, \
                        cameo_dict, map_cameo_to_text, \
                        state_dict, mem_usage, state_heat_map

In [2]:
con = sqlite3.connect("gdelt.db")

In [3]:
#c = con.cursor()
#c.execute("CREATE INDEX idx_SQLDATE ON gdelt (SQLDATE)")
#con.commit()

OperationalError: index idx_SQLDATE already exists

In [4]:
for row in c.execute("EXPLAIN QUERY PLAN \
           SELECT SQLDATE, Actor1CountryCode, Actor2CountryCode, \
                            Actor1Geo_CountryCode, Actor2Geo_CountryCode, \
                            NumMentions, EventRootCode, AvgTone \
           FROM gdelt \
           WHERE SQLDATE > \"2017-05-01\" AND SQLDATE < \"2017-08-01\" \
           LIMIT 100"):
    print(row)

(0, 0, 0, 'SEARCH TABLE gdelt USING INDEX idx_SQLDATE (SQLDATE>? AND SQLDATE<?)')

In [15]:
gdelt = pd.read_sql_query("SELECT SQLDATE, Actor1CountryCode, Actor2CountryCode, \
                            Actor1Geo_CountryCode, Actor2Geo_CountryCode, \
                            EventRootCode, AVG(NumMentions), AVG(AvgTone) \
                          FROM gdelt \
                          WHERE SQLDATE > \"2017-05-01\" AND SQLDATE < \"2017-08-01\" \
                          GROUP BY SQLDATE, Actor1CountryCode, Actor2CountryCode, \
                          Actor1Geo_CountryCode, Actor2Geo_CountryCode, EventRootCode", con)
# aggregate data by
# Date Actor1Code Actor2Code Actor1Geo_CountryCode Actor2Geo_CountryCode EventRootCode -> Mean AvgTone

# Features Actor1Code Actor2Code Actor1Geo_CountryCode Actor2Geo_CountryCode NumMentions EventRootCode

In [ ]:
interest = ["SQLDATE",
            "AvgTone", "NumMentions", "EventRootCode",
            "Actor1CountryCode", "Actor2CountryCode",
            "Actor1Geo_CountryCode", "Actor2Geo_CountryCode"]

categories = ["EventRootCode",
            "Actor1CountryCode", "Actor2CountryCode",
            "Actor1Geo_CountryCode", "Actor2Geo_CountryCode"]

for category_col in categories:
    gdelt[category_col] = gdelt[category_col].astype('category')
    
gdelt['SQLDATE'] = pd.to_datetime(gdelt['SQLDATE'])

In [16]:
gdelt

,SQLDATE,Actor1CountryCode,Actor2CountryCode,Actor1Geo_CountryCode,Actor2Geo_CountryCode,EventRootCode,AVG(NumMentions),AVG(AvgTone)
0,2017-05-01 00:00:00,None,None,None,None,01,60.184049,-2.723992
1,2017-05-01 00:00:00,None,None,None,None,02,76.748634,-1.124452
2,2017-05-01 00:00:00,None,None,None,None,03,35.639269,0.135407
3,2017-05-01 00:00:00,None,None,None,None,04,62.144420,-0.913240
4,2017-05-01 00:00:00,None,None,None,None,05,39.661017,1.502765
5,2017-05-01 00:00:00,None,None,None,None,06,37.456140,-1.328068
6,2017-05-01 00:00:00,None,None,None,None,07,34.626168,-0.422873
7,2017-05-01 00:00:00,None,None,None,None,08,32.846715,-2.303627
8,2017-05-01 00:00:00,None,None,None,None,09,122.980769,-3.491739
9,2017-05-01 00:00:00,None,None,None,None,10,41.666667,-2.072871
10,2017-05-01 00:00:00,None,None,None,None,11,40.778443,-4.591322
11,2017-05-01 00:00:00,None,None,None,None,12,31.101695,-3.146059
12,2017-05-01 00:00:00,None,None,None,None,13,24.741379,-3.768602
13,2017-05-01 00:00:00,None,None,None,None,14,36.976744,-4.321852
14,2017-05-01 00:00:00,None,None,None,None,15,65.000000,-1.819794
15,2017-05-01 00:00:00,None,None,None,None,16,28.409091,-2.188098
16,2017-05-01 00:00:00,None,None,None,None,17,54.200000,-5.662951
17,2017-05-01 00:00:00,None,None,None,None,18,76.012658,-7.400086
18,2017-05-01 00:00:00,None,None,None,None,19,100.673077,-5.871536
19,2017-05-01 00:00:00,None,None,None,AE,01,24.333333,5.014668
20,2017-05-01 00:00:00,None,None,None,AE,02,20.000000,1.811669
21,2017-05-01 00:00:00,None,None,None,AE,03,9.000000,1.985207
22,2017-05-01 00:00:00,None,None,None,AE,04,12.800000,1.628956
23,2017-05-01 00:00:00,None,None,None,AE,05,6.200000,2.059462
24,2017-05-01 00:00:00,None,None,None,AE,06,5.000000,-1.587302
25,2017-05-01 00:00:00,None,None,None,AE,07,5.000000,7.213930
26,2017-05-01 00:00:00,None,None,None,AE,12,3.000000,-0.462963
27,2017-05-01 00:00:00,None,None,None,AE,19,7.500000,-3.204076
28,2017-05-01 00:00:00,None,None,None,AF,02,9.400000,-1.785883
29,2017-05-01 00:00:00,None,None,None,AF,03,8.000000,1.243633
...,...,...,...,...,...,...,...,...
4370461,2017-07-31 00:00:00,ZWE,USA,ZI,ZI,03,3.000000,-2.647658
4370462,2017-07-31 00:00:00,ZWE,USA,ZI,ZI,07,8.000000,-1.769406
4370463,2017-07-31 00:00:00,ZWE,VEN,AR,AR,16,2.000000,-5.089820
4370464,2017-07-31 00:00:00,ZWE,VEN,MX,CA,16,2.000000,-5.089820
4370465,2017-07-31 00:00:00,ZWE,VEN,PM,CA,16,6.000000,-5.089820
4370466,2017-07-31 00:00:00,ZWE,ZAF,ZI,SF,04,2.000000,-4.626193
4370467,2017-07-31 00:00:00,ZWE,ZAF,ZI,ZI,04,2.000000,-4.626193
4370468,2017-07-31 00:00:00,ZWE,ZAF,ZI,ZI,05,4.000000,9.546594
4370469,2017-07-31 00:00:00,ZWE,ZMB,ZA,MI,05,2.000000,-2.515723
4370470,2017-07-31 00:00:00,ZWE,ZMB,ZI,ZA,05,8.000000,-2.515723
4370471,2017-07-31 00:00:00,ZWE,ZWE,None,None,08,20.000000,-1.388889
4370472,2017-07-31 00:00:00,ZWE,ZWE,KN,ZI,04,6.000000,-3.634647
4370473,2017-07-31 00:00:00,ZWE,ZWE,SY,SY,04,170.000000,-3.945271
4370474,2017-07-31 00:00:00,ZWE,ZWE,SY,ZI,04,2.000000,-3.634647
4370475,2017-07-31 00:00:00,ZWE,ZWE,UK,UK,01,2.000000,-0.559006
4370476,2017-07-31 00:00:00,ZWE,ZWE,US,US,02,2.000000,-4.567307
4370477,2017-07-31 00:00:00,ZWE,ZWE,ZI,KN,04,6.000000,-3.634647
4370478,2017-07-31 00:00:00,ZWE,ZWE,ZI,SY,04,2.000000,-3.634647
4370479,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,01,8.800000,-4.498187
4370480,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,02,2.000000,0.000000
4370481,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,03,20.000000,-0.371031
4370482,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,04,4.000000,1.434783
4370483,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,05,2.000000,7.045010
4370484,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,06,1.000000,-2.737226
4370485,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,07,2.500000,1.694181
4370486,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,11,5.666667,-1.094236
4370487,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,14,5.500000,-6.529194
4370488,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,17,7.000000,-6.858651
4370489,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,18,24.000000,-6.408542
4370490,2017-07-31 00:00:00,ZWE,ZWE,ZI,ZI,19,10.000000,-4.087285

In [23]:
gdelt.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4370491 entries, 0 to 4370490
Data columns (total 8 columns):
SQLDATE                  datetime64[ns]
Actor1CountryCode        category
Actor2CountryCode        category
Actor1Geo_CountryCode    category
Actor2Geo_CountryCode    category
EventRootCode            category
AVG(NumMentions)         float64
AVG(AvgTone)             float64
dtypes: category(5), datetime64[ns](1), float64(2)
memory usage: 137.6 MB

In [21]:
# sample on the dataframe / don't use all possible data available

# standardize data around mean 0 

# NormNumMentions -> normalized for the day
# NormNumMentions -> normalized by rolling average
# NormNumMentions -> normalized by the year
# AvgTone + NumMentions

# split data in missing/non-missing and compare distributions of that data

# which features are generally missing record values

# Try to predict AvgTone

In [52]:
nov_2016['Conflict'] = nov_2016['QuadClass'] > 2

In [53]:
nov_2016['Conflict'].value_counts()

False    4419418
True     1612883
Name: Conflict, dtype: int64

In [54]:
nov_2016['Violence'] = nov_2016['QuadClass'] == 4

In [55]:
nov_2016['Violence'].value_counts()

False    5196452
True      835849
Name: Violence, dtype: int64

In [56]:
nov_2016['GoldsteinTone'] = nov_2016['GoldsteinScale'] + nov_2016['AvgTone']

In [57]:
nov_2016.groupby('QuadClass').mean()

,GLOBALEVENTID,IsRootEvent,GoldsteinScale,NumMentions,AvgTone,Conflict,Violence,GoldsteinTone
QuadClass,,,,,,,,
1,5.992662e+08,0.641602,2.445738,14.243583,-0.894462,0.0,0.0,1.551282
2,5.992519e+08,0.635813,5.223845,14.244955,-1.607522,0.0,0.0,3.616324
3,5.992091e+08,0.613754,-3.498103,14.489701,-2.973222,1.0,0.0,-6.471289
4,5.992672e+08,0.671940,-7.971389,16.707975,-4.698138,1.0,1.0,-12.669526

In [21]:
nov_2016["NumMentions"]

TypeError: list indices must be integers or slices, not str

In [32]:
nov_2016['norm_NumMentions'] = (nov_2016['NumMentions'] - nov_2016['NumMentions'].mean())/ \
                                nov_2016['NumMentions'].std()

In [33]:
nov_2016['norm_NumMentions']

0        -0.130907
1        -0.056927
2        -0.130907
3        -0.081587
4        -0.081587
5        -0.155568
6        -0.056927
7         1.669284
8        -0.056927
9         1.163751
10       -0.143237
11       -0.032267
12       -0.130907
13       -0.143237
14       -0.143237
15       -0.130907
16       -0.106247
17       -0.019937
18        0.411616
19       -0.056927
20        0.128024
21       -0.106247
22        0.448606
23       -0.155568
24        0.929479
25        0.337636
26        0.633558
27        0.115694
28        0.189675
29       -0.081587
            ...
234592   -0.130907
234593   -0.130907
234594   -0.081587
234595   -0.130907
234596   -0.106247
234597   -0.130907
234598   -0.155568
234599   -0.056927
234600   -0.130907
234601   -0.155568
234602   -0.106247
234603   -0.081587
234604   -0.081587
234605   -0.081587
234606   -0.155568
234607   -0.130907
234608   -0.056927
234609   -0.155568
234610   -0.167898
234611   -0.155568
234612   -0.130907
234613   -0.167898
234614   -0.167898
234615   -0.106247
234616   -0.155568
234617   -0.143237
234618   -0.167898
234619   -0.155568
234620   -0.118577
234621   -0.167898
Name: norm_NumMentions, Length: 6032301, dtype: float64

In [ ]:
agg_rows = ["SQLDATE", "Actor1Type1Code", "Actor1Type2Code",
                 "Actor1Geo_CountryCode", "Actor2Geo_CountryCode",
                 "EventRootCode"]

In [46]:
# aggregate data by
# Date Actor1Code Actor2Code Actor1Geo_CountryCode 
# Actor2Geo_CountryCode EventRootCode -> Mean AvgTone
nov_2016.groupby(["SQLDATE", "Actor1Type1Code", "Actor2Type1Code",
                 "Actor1Geo_CountryCode", "Actor2Geo_CountryCode",
                 "EventRootCode"])[["NumMentions", "AvgTone"]].mean()

            NumMentions   AvgTone
SQLDATE
2006-11-04     7.314815 -1.597514
2006-11-05    13.537037 -2.479386
2006-11-06    23.553191 -1.826972
2006-11-07     8.250000 -0.200365
2006-11-08    28.241379 -0.955149
2006-11-09     6.076923 -1.545390
2006-11-10     6.500000 -0.487219
2006-11-11     3.962963  1.784659
2006-11-12     5.680000 -0.381812
2006-11-13    16.883333 -0.648310
2006-11-14     6.600000  0.146861
2006-11-15    10.312500 -0.677627
2006-11-16     7.000000 -5.181149
2006-11-17     7.571429 -1.696017
2006-11-18    12.205882 -0.400890
2006-11-19     7.862069 -1.122545
2006-11-20    17.538462 -1.794083
2006-11-21     7.433962 -0.604025
2006-11-22     6.615385 -0.290944
2006-11-23     4.285714 -2.121838
2006-11-24     9.000000 -1.253022
2006-11-25     5.861111 -1.074994
2006-11-26     4.714286  0.476204
2006-11-27     4.435897 -0.400605
2006-11-28    13.000000 -4.882229
2006-11-29     5.950000 -4.306398
2006-11-30     5.034483 -1.956258
2006-12-01     4.896552 -2.134144
2006-12-02    11.857143 -2.903646
2006-12-03     8.318182 -0.667955
...                 ...       ...
2016-11-01    14.355551 -1.823368
2016-11-02    15.020218 -1.873316
2016-11-03    14.585002 -1.856189
2016-11-04    14.765626 -1.917575
2016-11-05    14.473116 -2.211496
2016-11-06    13.371033 -2.049321
2016-11-07    14.772987 -1.734958
2016-11-08    14.666083 -1.682027
2016-11-09    16.792193 -1.071892
2016-11-10    14.366565 -1.345807
2016-11-11    14.227661 -1.469447
2016-11-12    14.044428 -1.847629
2016-11-13    15.530040 -1.878398
2016-11-14    14.126017 -1.785818
2016-11-15    15.072837 -1.765996
2016-11-16    14.905103 -1.788108
2016-11-17    14.353607 -1.785195
2016-11-18    14.517504 -1.726095
2016-11-19    15.069167 -1.936665
2016-11-20    14.050377 -1.720456
2016-11-21    14.351808 -1.736854
2016-11-22    14.642023 -1.820721
2016-11-23    14.565891 -1.795411
2016-11-24    13.743057 -1.760563
2016-11-25    14.447159 -1.977654
2016-11-26    15.767087 -2.027163
2016-11-27    13.620259 -2.033216
2016-11-28    14.654584 -1.860074
2016-11-29    15.107195 -1.839469
2016-11-30    14.823367 -1.758233

[120 rows x 2 columns]

In [36]:
nov_2016['weighted_NumMentions'] = nov_2016['IsRootEvent'] * 1.2 * nov_2016['NumMentions']

In [37]:
nov_2016['weighted_NumMentions'].head()

0     0.0
1    12.0
2     0.0
3     9.6
4     9.6
Name: weighted_NumMentions, dtype: float64

In [38]:
nov_2016['norm_weight_mentions'] = (nov_2016['weighted_NumMentions'] - nov_2016['weighted_NumMentions'].mean())/ \
                                    nov_2016['weighted_NumMentions'].std()

In [39]:
nov_2016['norm_weight_mentions']

0        -0.145423
1        -0.012868
2        -0.145423
3        -0.039379
4        -0.039379
5        -0.118912
6        -0.145423
7         1.842905
8        -0.145423
9        -0.145423
10       -0.105657
11       -0.145423
12       -0.145423
13       -0.145423
14       -0.145423
15       -0.145423
16       -0.145423
17        0.026899
18       -0.145423
19       -0.012868
20        0.185965
21       -0.065890
22       -0.145423
23       -0.145423
24        1.047574
25        0.411309
26        0.729441
27        0.172709
28       -0.145423
29       -0.145423
            ...
234592   -0.145423
234593   -0.145423
234594   -0.145423
234595   -0.145423
234596   -0.145423
234597   -0.145423
234598   -0.145423
234599   -0.145423
234600   -0.092401
234601   -0.118912
234602   -0.145423
234603   -0.039379
234604   -0.039379
234605   -0.145423
234606   -0.145423
234607   -0.092401
234608   -0.145423
234609   -0.118912
234610   -0.132168
234611   -0.118912
234612   -0.145423
234613   -0.145423
234614   -0.145423
234615   -0.145423
234616   -0.145423
234617   -0.105657
234618   -0.132168
234619   -0.118912
234620   -0.145423
234621   -0.132168
Name: norm_weight_mentions, Length: 6032301, dtype: float64